
 main {
  top: 100px;
 }
  
 
 h6{
   font-size: 18px;
   position: relative;
   color:white;
   left:365px;
 bottom:102px;}
 
 
 
 
 
  td,tr,th{
   border:solid black 2px;
   width:100px;
   height:25px;

 }
 
 input{
   width:75px;
 }
 
 img{
   height:200%;
   width:90%;
  
 }
 
 table{
   text-align: center;
   border: solid;
   margin-left: 165px;
   width:75%;
   
 }

 #cartTable
 {
   height:1000px;
   width:100%;
   text-align:center;
   border: black solid ;
   padding-top: 20px;
   margin-top: 20px;

 }
 
 button{
   height:45%;
   background-color: brown;
   border-radius: 5px;
   margin-top: 20px;
 }
 
 
 
 /* footer */
 footer{
    clear: both;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    margin-top: 20px;
  }
